@model LexiconLMS.ViewModels.UserAdminViewModel

@{
    ViewData["Title"] = "Teacher Account Details";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div>


    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<hr>
<div >
   <div class="btn btn-grey">
       <i class="fa fa-trash"></i>
   <a asp-action="Delete" asp-route-id="@Model.Id" class="text-white" >Remove Account
    @*<input type="submit" value="Remove account" />*@
   </a>
    </div>

    <a class="btn btn-purple" asp-action="Edit" role="button" asp-route-id="@Model.Id"><i class="fa fa-edit"></i>Edit details</a>
</div>

