@model IEnumerable<LexiconLMS.Models.User>

@{
    ViewData["Title"] = "Teacher accounts";
}

<h1>@ViewData["Title"]</h1>


<table class="table tablestyle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-purple">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-orange">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-red">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<a asp-action="Create" class="btn btn-border-green">Create Teacher Account</a>