@model LexiconLMS.ViewModels.ModuleViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>


<hr />
<table class="table table-dark" data-toggle="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().ActivityTypeId)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().EndDate)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().Description)</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model.Activities)
        {
        <tr>
            @*<td>@Html.ActionLink(activity.ActivityTypeId, "Details", "Activity", new { id = @activity.Id })</td>*@
            <td>@activity.ActivityTypeId</td>
            <td>@activity.StartDate</td>
            <td>@activity.EndDate</td>
            <td>@activity.Description</td>
            <td><a href="@Url.Action("Delete", "Module", new { id =activity.Id })"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            <td><a href="@Url.Action("Edit", "Module", new { id = activity.Id })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a></td>
        </tr>
        }
    </tbody>
</table>

<hr />



<div>
    <a asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId">Back to Course</a>

    <a asp-action="Create" asp-controller="Activity" asp-route-id="@Model.Id" class="btn btn-primary">Create Activity</a>
</div>
