@model LexiconLMS.ViewModels.ModuleDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Module Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>


<hr />
<table class="table tablestyle" data-toggle="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().ActivityType.Type)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().EndDate)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().Description)</th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model.Activities)
        {
        <tr>
            <td>@Html.ActionLink(activity.ActivityType.Type, "Details", "Activity", new { id = @activity.Id })</td>
            @*<td>@activity.ActivityType.Type</td>*@
            <td><i class="fa fa-clock"></i>@activity.StartDate.ToShortDateString()</td>
            <td><i class="fa fa-clock"></i>@activity.EndDate.ToShortDateString()</td>
            <td><i class="fa fa-info-circle"></i>@activity.Description</td>
            <td>


                @*</td>
        <td>*@
                <div class="btn btn-grey btn-sm">
                    <a href="@Url.Action("Delete", "Activity", new { id =activity.Id})" class="text-white"><i class="fa fa-trash"></i>Remove</a>
                </div>
                <div class="btn btn-purple btn-sm editpadding">
                    <a href="@Url.Action("Edit", "Activity", new { id = activity.Id })" class="text-white"><i class="fas fa-edit"></i>Edit</a>
                </div>

            </td>

        </tr>
        }
    </tbody>
</table>

<hr />
<div>
    <a asp-action="Create" asp-controller="ModuleDocument" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i class="fas fa-file-upload"></i> Add Document</a>
</div>
<table class="table tablestyle" data-toggle="table">
    <tbody>
        @foreach (var document in Model.Documents)
        {
        <tr>
            <td><i class="fas fa-file-download"></i> @Html.ActionLink(document.Name, "Display", "ModuleDocument", new { id = document.Id }) (@document.Filezise)</td>
            <td><i class="fas fa-clock"></i> @Html.DisplayFor(d => document.UploadTime)</td>
            <td><i class="fas fa-info-circle"></i> @document.Description</td>

            <td></td>
            <td>
                <div class="btn btn-grey btn-sm">
                    <a href="@Url.Action("Delete", "ModuleDocument", new { id = document.Id })" class="text-white"><i class="fa fa-trash" aria-hidden="true"></i>Remove</a>
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>


<div>
    <a class="btn btn-purple" asp-controller="Course" asp-action="Details" asp-route-id="@Model.CourseId">Back to Course</a>

    <a asp-action="Create" asp-controller="Activity" asp-route-id="@Model.Id" class="btn btn-green">Create Activity</a>
</div>
