@model LexiconLMS.ViewModels.UserAdminViewModel

@{
    ViewData["Title"] = "Confirm Delete account";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        @if (Model.Email != User.Identity.Name) {
        <input type="submit" value="Delete" class="btn btn-danger" /> } |
                                                                         
              <a asp-action="Index">Back to List</a>
    </form>
</div>