@model LexiconLMS.ViewModels.ActivityAddViewModel
@{
    ViewData["Title"] = "Create Activity";
}
@*<h1>@Html.DisplayNameFor(a => a.ModuleName): @Html.DisplayFor(a => a.ModuleName)</h1>
<h4>create activity</h4>*@
@*<div>
    <a asp-controller="Activity" asp-action="Create">Create New Activity</a>
</div>*@


<div class="col-sm-10">
    <h5>Create New Activity For:</h5>  
    <div class="alert-light">
        <h4> @Html.DisplayFor(model => model.ModuleName)<span>,</span>@Html.DisplayFor(model => model.Course.Name)</h4> 

       <h6></h6> 
       
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>

            @*<div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <textarea asp-for="Name" class="form-control"></textarea>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>*@

            <div class="form-group">
                <label asp-for="ActivityTypeId" class="control-label"></label>
                <select asp-for="ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>


                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <input type="hidden" asp-for="ModuleId" class="form-control" />
            <input type="hidden" asp-for="ModuleName" class="form-control" />
            <input type="hidden" asp-for="ParentStartDate" class="form-control" />
            <input type="hidden" asp-for="ParentEndDate" class="form-control" />

            <div class="form-group">
                @*//Comment For Demo*@
                @*<a asp-controller="Documents" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-primary">Add Activity Documents</a>*@

            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-green" />
                @*<a asp-controller="Module" asp-action="Details" asp-route-id="@Model.ModuleId" class="btn btn-info">Back to Module</a>*@
                <a asp-action="Details" asp-controller="Module" class="btn btn-grey" asp-route-id="@Model.ModuleId"><i class="fade fa-trash"></i>Cancel</a>

            </div>
        </form>
    </div>
</div>
@*<div>
  
    <a asp-controller="Module" asp-action="Details" asp-route-id="@Model.ModuleId" class="btn btn-info">Back to Module</a>
</div>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
