@model LexiconLMS.ViewModels.ActivityDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h3>@Html.DisplayFor(model => model.ActivityType.Type)</h3>

<div>
    <hr />
    <dl class="row">
        <dd class="col-sm-1"></dd>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dd class="col-sm-3"></dd>
        <dd class="col-sm-1"></dd>
        <dt class="col-sm-8">
            <i class="fa fa-clock"></i>@Html.DisplayNameFor(model => model.StartDate) <strong>@Model.StartDate.ToLongDateString()</strong>
        </dt>
        <dd class="col-sm-3"></dd>
        <dd class="col-sm-1"></dd>
        <dt class="col-sm-8">
            <i class="fa fa-clock"></i>@Html.DisplayNameFor(model => model.EndDate) <strong>@Model.EndDate.ToLongDateString()</strong>
        </dt>
        <dd class="col-sm-3"></dd>

    </dl>
</div>

<hr />
<div>
    <a asp-action="Create" asp-controller="ActivityDocument" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i class="fas fa-file-upload"></i> Add Document</a>
</div>
<table class="table tablestyle" data-toggle="table">
    <tbody>
        @foreach (var document in Model.Documents)
        {
        <tr>
            <td><i class="fas fa-file-download"></i> @Html.ActionLink(document.Name, "Display", "ActivityDocument", new { id = document.Id }) (@document.Filezise)</td>
            <td><i class="fas fa-clock"></i> @Html.DisplayFor(d => document.UploadTime)</td>
            <td><i class="fas fa-info-circle"></i> @document.Description</td>

            <td>
                <div class="btn btn-grey btn-sm">
                    <a href="@Url.Action("Delete", "ActivityDocument", new { id = document.Id })" class="text-white"><i class="fa fa-trash" aria-hidden="true"></i>Remove</a>
                </div>

            </td>
        </tr>
        }
    </tbody>
</table>
<div>

    <div>
        <a asp-controller="Module" asp-action="Details" asp-route-id="@Model.ModuleId" class="btn btn-purple">Back to Module</a>

        @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
        <a asp-action="Index" class="btn btn-green">All Activities</a>
    </div>
