@model LexiconLMS.ViewModels.ActivityAddViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="col-sm-10">
    <h5>Edit Activity For:</h5>

    <div class="alert-light">
        <ul>
            <li>
                Course:
                <a class="bread-crumb-link" asp-action="Details" asp-controller="Course" asp-route-id="@Model.Course.Id">@Model.Course.Name</a>
                <span>
                    @Model.Course.StartDate.ToShortDateString() -
                    @Model.Course.EndDate.ToShortDateString()
                </span>
                <ul>
                    <li>
                        Module:
                        <a class="bread-crumb-link" asp-action="Details" asp-controller="Module" asp-route-id="@Model.ModuleId">@Model.ModuleName</a>
                        <span>
                            @Html.DisplayFor(model => model.StartDate) - @Html.DisplayFor(model => model.EndDate)
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>



            <div class="form-group">
                <label asp-for="ActivityTypeId" class="control-label"></label>
                <select asp-for="ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeId"></select>
                <span asp-validation-for="ActivityTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ParentStartDate" class="form-control" />
            <input type="hidden" asp-for="ParentEndDate" class="form-control" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-green" />
                <a asp-action="Details" asp-controller="Module" asp-route-Id="@Model.Module.Id" class="btn btn-purple">Back To Module</a>
                <a asp-action="Index" class="btn btn-grey">Back To List</a>
            </div>
        </form>
    </div>
</div>


