@model LexiconLMS.ViewModels.ModuleAddViewModel
@{
    ViewData["Title"] = "Details";
}
<h1>Details</h1>
<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>

<hr />
<table class="table tablestyle">
    <thead>
        <tr class="table-info">
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().ActivityType.Type)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().EndDate)</th>
            <th>@Html.DisplayNameFor(a => a.Activities.FirstOrDefault().Description)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var activity in Model.Activities)
        {
            <tr style="background:#7172af30">
                <td>@Html.ActionLink(activity.ActivityType.Type, "Details", "StudentActivity", new { id = @activity.Id })</td>
                <td>@activity.StartDate</td>
                <td>@activity.EndDate</td>
                <td>@activity.Description</td>

            </tr>
        }
    </tbody>
</table>
<hr />

<div>
    <a asp-controller="Student" asp-action="Index" class="btn btn-orange">Back to Home</a>
    <a asp-action=" " asp-controller=" " asp-route-id="@Model.Id" class="btn btn-purple" onclick="return false;">Documents</a>
</div>
