@model CourseDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

@*<h4>Course Details</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.StartDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.StartDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.EndDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TeacherEmail)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TeacherEmail)
    </dd>
</dl>

<hr />

<table class="table  tablestyle" data-toggle="table">
    <thead>

    <tr class="table-info">
        <th>
            Documents
        </th>

    </tr>

    </thead>
    <tbody>
        @foreach (var document in Model.Documents)
        {
            <tr class="table-active">
                <td>@Html.ActionLink(document.Name, "Display", "CourseDocument", new { id = document.Id })</td>

            </tr>
        }
    </tbody>
</table>
<hr />*@

@*<table class="table tablestyle " data-toggle="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(a => a.Students.FirstOrDefault().FullName)</th>
            <th>@Html.DisplayNameFor(a => a.Students.FirstOrDefault().Email)</th>
            <!--<th></th>-->

        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
        <tr class="table-active">
            <!--<td>@Html.ActionLink(student.FullName, "Details", "StudentAdmin", new { id = @student.Id })</td>-->
            <td>@student.FullName</td>
            <td>@student.Email</td>

        </tr>
        }
    </tbody>
</table>
<hr />*@

@*<table class="table tablestyle" data-toggle="table">
    <thead>
        <tr class="table-info">
            <th>@Html.DisplayNameFor(a => a.Modules.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(a => a.Modules.FirstOrDefault().StartDate)</th>
            <th>@Html.DisplayNameFor(a => a.Modules.FirstOrDefault().EndDate)</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var module in Model.Modules)
        {
            <tr class="table-active">
                <td>@Html.ActionLink(module.Name, "Details", "StudentModule", new { id = @module.Id })</td>
                <td>@module.StartDate</td>
                <td>@module.EndDate</td>

            </tr>
        }
    </tbody>
</table>*@
@*<hr />
<div>
    <a asp-action="Index" asp-controller="Student" class="btn btn-purple">Back To Home</a>
</div>*@


