@model CourseDetailsViewModel

@{
    ViewData["Title"] = "Details";
}



<h3>Course:  @Html.DisplayFor(model => model.Name)</h3>
<hr />
<dl class="row">
    <dd class="col-sm-1"></dd>
    <dd class="col-sm-8">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dd class="col-sm-3"></dd>
    <dd class="col-sm-1"></dd>
    <dt class="col-sm-8">
        <i class="fa fa-clock"></i>@Html.DisplayNameFor(model => model.StartDate) <strong>@Model.StartDate.ToLongDateString()</strong>
    </dt>
    <dd class="col-sm-3"></dd>
    <dd class="col-sm-1"></dd>
    <dt class="col-sm-8">
        <i class="fa fa-clock"></i>@Html.DisplayNameFor(model => model.EndDate) <strong>@Model.EndDate.ToLongDateString()</strong>
    </dt>
    <dd class="col-sm-3"></dd>
    <dd class="col-sm-1"></dd>
    <dt class="col-sm-8">
        <i class="fas fa-at"></i>@Html.DisplayNameFor(model => model.TeacherEmail) <strong><a href="mailto:@Model.TeacherEmail">@Html.DisplayFor(model => model.TeacherEmail)</a></strong>
    </dt>
    <dd class="col-sm-3"></dd>

</dl>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-purple"><i class="fas fa-edit"></i> Edit Course Details</a>

<hr />
<div>
    <a asp-action="Create" asp-controller="StudentAdmin" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i class="fas fa-user-plus"></i> Add Student</a>
</div>


<div class="scrolling">
    <table class="table tablestyle" data-toggle="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(a => a.Students)</th>
                <th>@Html.DisplayNameFor(a => a.Students.FirstOrDefault().Email)</th>
                <th></th>
                <th></th>
                <th></th>


            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model.Students)
            {
                <tr>
                    <td><i class="fa fa-user"></i>@Html.ActionLink(student.FullName, "Details", "StudentAdmin", new { id = @student.Id })</td>
                    @*<td>@student.FullName</td>*@
                    <td colspan="2"><i class="fa fa-envelope" style="margin-right:2px"></i>@student.Email</td>
                    @*<td ></td>*@
                    <td></td>
                    <td>
                        <div class="btn btn-grey btn-sm">
                            <a href="@Url.Action("Delete", "StudentAdmin", new { id = student.Id })" class="text-white"><i class="fa fa-trash" aria-hidden="true"></i>Remove</a>
                        </div>

                    </td>

                    @*<td><a href="@Url.Action("Edit", "StudentAdmin", new { id = student.Id })"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a></td>*@
                </tr>
            }
        </tbody>
    </table>



</div>


    <div>
        <a asp-action="Create" asp-controller="Module" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i class="fas fa-plus"></i> Add Module</a>
    </div>
    <table class="table tablestyle" data-toggle="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(a => a.Modules.FirstOrDefault().Name)</th>
                <th>@Html.DisplayNameFor(a => a.Modules.FirstOrDefault().StartDate)</th>
                <th>@Html.DisplayNameFor(a => a.Modules.FirstOrDefault().EndDate)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var module in Model.Modules)
            {
                <tr>
                    <td>@Html.ActionLink(module.Name, "Details", "Module", new { id = @module.Id })</td>
                    <td><i class="fa fa-clock"></i>@module.StartDate.ToShortDateString()</td>
                    <td><i class="fa fa-clock"></i>@module.EndDate.ToShortDateString()</td>
                    <td></td>
                    <td>


                        <div class="btn btn-grey btn-sm">
                            <a href="@Url.Action("Delete", "Module", new { id = module.Id })" class="text-white"><i class="fa fa-trash" aria-hidden="true"></i>Remove</a>
                        </div>
                        <div class="btn btn-purple btn-sm editpadding">
                            <a href="@Url.Action("Edit", "Module", new { id = module.Id })" class="text-white"><i class="fas fa-edit" aria-hidden="true"></i>Edit</a>
                        </div>

                        @*</td>
                            <td >*@


                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Create" asp-controller="CourseDocument" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary"><i class="fas fa-file-upload"></i> Add Document</a>
    </div>
    <table class="table tablestyle" data-toggle="table">
        <tbody>
            @foreach (var document in Model.Documents)
            {
                <tr>
                    <td><i class="fas fa-file-download"></i> @Html.ActionLink(document.Name, "Display", "CourseDocument", new { id = document.Id }) (@document.Filezise)</td>
                    <td><i class="fas fa-info-circle"></i> @document.Description</td>
                    <td><i class="fas fa-clock"></i> @Html.DisplayFor(d => document.UploadTime)</td>
                    <td></td>

                    <td>
                        <div class="btn btn-grey btn-sm">
                            <a href="@Url.Action("Delete", "CourseDocument", new { id = document.Id })" class="text-white"><i class="fa fa-trash" aria-hidden="true"></i> Remove</a>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Create" class="btn btn-purple">Back To Create Course</a>
        <a asp-action="Index" class="btn btn-grey"> Back To Course </a>
    </div>




