@model IEnumerable<CourseListViewModel>

@{
    ViewData["Title"] = "Add Course";
}

<h4>Courses</h4>
<hr />
<a asp-action="Create" class="btn btn-primary">Create course</a>
<table class="table table-striped table-hover" style="margin-top: 15px">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfStudents)
            </th>
        </tr>
    </thead>*@
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="CourseName">@item.Name</a>

                <span class="CourseData">
                    <i class="fa fa-clock-o"></i>@Html.DisplayFor(modelItem => item.StartDate)
                </span>
                @*<span class="CourseData">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </span>*@
                @*<span class="CourseData">
                    Responsible teacher: @Html.DisplayFor(modelItem => item.TeacherName)
                </span>
                <span class="CourseData CourseMore">
                    @Html.DisplayFor(model => item.Description)
                </span>*@
                <span class="CourseData">
                    <i class="fa fa-users"></i> @Html.DisplayFor(model => item.NumberOfStudents) students in class
                </span>
                <span class="CourseButtons">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i>More</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle fa-lg"></i> Info</a>*@
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Remove</a>
                </span>
</td>
        </tr>
        }
    </tbody>
</table>

