@model StudentCourseViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Student, Welcome to the Course</h1>
<div class="jumbotron">
    <div class="media">
        <div class="media-body">
            <img src="~/images/logo-lexicon_2x.gif" class="img-course" alt="logo lexicon">
            <h5 class="display-5">@Html.DisplayFor(a => a.Name)</h5>
            <p>
                @Html.DisplayFor(a => a.Description)
            </p>
            <p>
                <strong>
                    @Html.DisplayNameFor(a => a.StartDate) : @Html.DisplayFor(a => a.StartDate)
                </strong>
            </p>
            <a class="btn btn-primary stretched-link  mb-5" href="@Url.Action("Details", "StudentCourse", new { id = Model.Id })">Details</a>
        </div>
    </div>
    <div class="shadow p-3 mb-1 bg-secondary rounded">
        <h5 class="display-5">Modules:</h5>
        @foreach (var module in Model.Modules)
        {
            <div class="shadow p-3 mb-2 bg-light rounded">
                <p class="float-left pr-3">@Html.DisplayFor(a => module.StartDate) - @Html.DisplayFor(a => module.EndDate)</p>
                <a class="disabled" href="@Url.Action("Details", "StudentModule", new { id = module.Id })">@Html.DisplayFor(b => module.Name)</a>
                <i class="float-lg-right fa fa-chevron-circle-down" aria-hidden="true"></i>

                <div class="shadow p-3 mb-1 rounded activities bgcolor hide">
                    @foreach (var activity in module.Activities)
                    {

                    <p>
                        @Html.DisplayFor(a => activity.StartDate) - @Html.DisplayFor(a => activity.EndDate)
                        @*<a  href="@Url.Action("Details","StudentActivity",new { id=activity.Id})" onclick="return false;">@Html.DisplayFor(a =>activity.ActivityType.Type)</a>*@
                        @Html.ActionLink(activity.ActivityType.Type, "Details", "StudentActivity", new { id = activity.Id })

                    </p>


                    }
                </div>
            </div>


        }
    </div>
    <div class="shadow p-3 mb-1 bg-secondary rounded">
        <h5 class="display-5">Students:</h5>
        <div class="shadow p-3 mb-2 bg-light rounded course-avatars">
            @for (var i = 0; i < Model.Students.Count; i++)
            {
                <div class="row">
                    @for (var j = 0; j < Model.Students[i].Count; j++)
                    {
                        <div class="col-sm-4">
                            <div class="card">
                                <img src="~/images/Avatar.jpg" alt="avatar" />
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Students[i][j].FullName</h5>
                                    <p style="font-size:0.7em">@Model.Students[i][j].Email</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <div class="shadow p-3 mb-1 bg-secondary rounded">
        <h5 class="display-5">Documents:</h5>
        <div class="shadow p-3 mb-2 bg-light rounded">
            <p class="float-left pr-3">...</p>
        </div>
    </div>
</div>


@section scripts
    {
<script>
    $(document).ready(function () {
     
        $(".fa-chevron-circle-down").click(function () {
            $(this).siblings(".activities").fadeToggle(1000,'linear');

            if($(this).hasClass("fa-chevron-circle-down")){
               $(this).removeClass("fa-chevron-circle-down");
               $(this).addClass("fa-chevron-circle-up");
                 }
            else{
                  $(this).removeClass("fa-chevron-circle-up");
                  $(this).addClass("fa-chevron-circle-down");
                 }
        });
    });</script>
}

