@model StudentCourseViewModel
@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_LayoutMaxWidth";
}

<style>
    .col-md-4 {
        padding: 5px;
    }
</style>

@*<h1>Student, Welcome to the Course</h1>*@
<div class="jumbotron " >
    <div class="media">
        <div class="media-body">

            <div class="TopBox">

                <div class="boxForCourse">
                    <h1> @Html.DisplayFor(a => a.Name) </h1>
                    <h3>
                        @Model.StartDate.ToString(" MMMM yyyy")- @Model.EndDate.ToString(" MMMM yyyy")
                    </h3>
                    <div class="btn btn-green">
                        <i class="fa fa-info-circle"></i><a class="text-white" data-toggle="modal" data-target="#courseModal" href="@Url.Action("Details", "StudentCourse", new { id = Model.Id })">Details</a>
                    </div>
                </div>
            
              


                @*<img src="~/images/Courseimg.jpg" class="img-course" alt="logo lexicon">*@
                @*<h2 class="display-5">@Html.DisplayFor(a => a.Name)</h2>*@
             

                <!-- Modal -->
                <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="courseModalLabel">@Html.DisplayFor(a => a.Name)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                @*<p>
                            <strong>@Html.DisplayNameFor(a => a.Name) :</strong>
                            @Html.DisplayFor(a => a.Name)
                        </p>*@
                                <p>
                                    <strong>@Html.DisplayNameFor(a => a.Description) :</strong>
                                    @Html.DisplayFor(a => a.Description)
                                </p>
                                <p>
                                    <strong>
                                        @Html.DisplayNameFor(a => a.StartDate) :
                                    </strong>
                                    @Html.DisplayFor(a => a.StartDate)
                                </p>
                                <p>
                                    <strong>
                                        @Html.DisplayNameFor(a => a.EndDate) :
                                    </strong>
                                    @Html.DisplayFor(a => a.EndDate)
                                </p>
                                @if (!(Model.Documents is null) && Model.Documents.Count > 0)
                                {
                                    <hr />
                                    <p>
                                        <h6>Course Documents</h6>
                                        @foreach (var document in Model.Documents)
                                        {
                                            <a class="btn btn-sm btn-purple" asp-controller="CourseDocument" asp-action="Display" asp-route-id="@document.Id">
                                                <i class="fas fa-file-download"></i> @document.Name
                                            </a><br />
                                        }
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            


        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="shadow p-3 mb-1 rounded" style="background-color:#6e3694">
                <h5 class="display-5 text-white">Modules:</h5>
                @foreach (var module in Model.Modules)
                {
                    <div class="shadow p-3 mb-2 bg-light rounded">

                        @Html.ActionLink(module.Name, string.Empty, string.Empty, new { }, new { data_toggle = "modal", data_target = "#moduleModal-" + module.Id })

                        <i class="float-lg-right fa fa-chevron-circle-up" aria-hidden="true"></i>
                        <p>
                            @Html.DisplayFor(a => module.StartDate)  -  @Html.DisplayFor(a => module.EndDate)
                        </p>

                        <!-- Modal -->
                        <div class="modal fade" id="moduleModal-@module.Id" tabindex="-1" role="dialog" aria-labelledby="moduleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="moduleModalLabel">Module:  @Html.DisplayFor(a => module.Name)  </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <strong>Course :</strong>
                                            @Html.DisplayFor(a => Model.Name)
                                        </p>
                                        <p>
                                            <strong>@Html.DisplayNameFor(a => module.Description) :</strong>
                                            @Html.DisplayFor(a => module.Description)
                                        </p>
                                        <p>
                                            <strong>@Html.DisplayNameFor(a => module.StartDate) :</strong>
                                            @Html.DisplayFor(a => module.StartDate)
                                        </p>
                                        <p>
                                            <strong>@Html.DisplayNameFor(a => module.EndDate) :</strong>
                                            @Html.DisplayFor(a => module.EndDate)
                                        </p>
                                        @if (!(module.Documents is null) && module.Documents.Count > 0)
                                        {
                                            <hr />
                                            <p>
                                                <h6>Module Documents</h6>
                                                @foreach (var document in module.Documents)
                                                {
                                                    <a class="btn btn-sm btn-purple" asp-controller="ModuleDocument" asp-action="Display" asp-route-id="@document.Id">
                                                        <i class="fas fa-file-download"></i> @document.Name
                                                    </a><br />
                                                }
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="shadow p-3 mb-1 rounded activities bgcolor hide">
                            @foreach (var activity in module.Activities)
                            {
                                @*<a data-toggle="modal" data-target="#activityModal2" asp-controller="StudentActivity" asp-action="Details" asp-route-id="@activity.Id">@activity.ActivityType.Type</a>*@

                                @Html.ActionLink(activity.ActivityType.Type, string.Empty, string.Empty, new { }, new { data_toggle = "modal", data_target = "#activityModal-" + activity.Id })

                                <p>
                                    @Html.DisplayFor(a => activity.StartDate) - @Html.DisplayFor(a => activity.EndDate)
                                </p>

                                <!-- Modal -->
                                <div class="modal fade" id="activityModal-@activity.Id" + tabindex="-1" role="dialog" aria-labelledby="activityModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Activity: @Html.DisplayFor(a => activity.ActivityType.Type) </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    <strong>Course :</strong>
                                                    @Html.DisplayFor(a => Model.Name)
                                                </p>
                                                <p>
                                                    <strong>Module :</strong>
                                                    @Html.DisplayFor(a => module.Name)
                                                </p>
                                                <p>
                                                    <strong>@Html.DisplayNameFor(a => activity.Description) :</strong>
                                                    @Html.DisplayFor(a => activity.Description)
                                                </p>
                                                <p>
                                                    <strong>@Html.DisplayNameFor(a => activity.StartDate) :</strong>
                                                    @Html.DisplayFor(a => activity.StartDate)
                                                </p>
                                                <p>
                                                    <strong>@Html.DisplayNameFor(a => activity.EndDate) :</strong>
                                                    @Html.DisplayFor(a => activity.EndDate)
                                                </p>
                                                @if (activity.ActivityType.Type == "Exercise")
                                                {<p>
                                                        <a asp-action="CreateStudent" asp-controller="ActivityDocument" asp-route-id="@activity.Id" class="btn btn-sm btn-green"><i class="fas fa-file-upload"></i> Upload Assignment</a>
                                                    </p>}

                                                @if (!(activity.Documents is null) && activity.Documents.Count > 0)
                                                {
                                                    <hr />
                                                    <p>
                                                        <h6>Activity Documents</h6>
                                                        @foreach (var document in activity.Documents)
                                                        {
                                                            <a class="btn btn-sm btn-purple" asp-controller="ActivityDocument" asp-action="Display" asp-route-id="@document.Id">
                                                                <i class="fas fa-file-download"></i> @document.Name
                                                            </a><br />
                                                        }
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>

        </div>



        <div class="col-md-8" style="padding: 5px;">
            <div class="shadow p-3 mb-1  rounded" style="background-color:#6e3694">
                <h5 class="display-5 text-white">Students:</h5>
                <div class="shadow p-3 mb-2 bg-light rounded course-avatars">
                    <div class="row">
                        @for (var i = 0; i < Model.Students.Count; i++)
                        {
                            <div class="col-sm">
                                <div class="card">
                                    @*<img src="~/images/Avatar.jpg" alt="avatar" />*@
                                    <img src="~/images/profileicon.jpeg" alt="avatar" />
                                    <div class="card-body">
                                        <h5 class="card-title">@Model.Students[i].FullName</h5>
                                        <a href="#" style="font-size:0.7em">@Model.Students[i].Email</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
       
        </div>


    </div>

</div>


@section scripts
    {
    <script>
        $(document).ready(function () {

            $(".fa-chevron-circle-up").click(function () {
                $(this).siblings(".activities").fadeToggle(100, 'linear');

                if ($(this).hasClass("fa-chevron-circle-down")) {
                    $(this).removeClass("fa-chevron-circle-down");
                    $(this).addClass("fa-chevron-circle-up");
                }
                else {
                    $(this).removeClass("fa-chevron-circle-up");
                    $(this).addClass("fa-chevron-circle-down");
                }
            });
        });</script>
}

